/* Define CSS variables in the :root pseudo-class selector */
:root {
    --primary-color: #172121;
    /* Eerie black */
    --secondary-color: #ef8206;
    /* Vivid Orange */
    --accent1-color: #de0606;
    /* Vivid Rwd */
    --accent2-color: #0E3044;
    /* Prussian Blue */
}

/* Style headings and paragraph elements */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

p {
    color: var(--secondary-color);
}

/* Remove underlines from social media image links */
.sociallinks a img {
    text-decoration: none;
    border: none;
    /* Add this line to remove the border around images */
}

/* Style for navigation links */
nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: var(--secondary-color);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
}

/* Hero section */
.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(8, 0, 0, 0.95);
    font-family: 'Cinzel', serif;
    font-size: 3em;
}

.hero p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 247, 247, 0.8);
    padding: 10px;
    color: rgba(8, 0, 0, 0.95);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    max-width: 80%;
    text-align: center;
}

/* Social links */
.sociallinks {
    display: flex;
    flex-direction: column;
    /* Stack images vertically */
    align-items: center;
    /* Center images horizontally */
}

.sociallinks a img {
    width: 30px;
    height: 30px;
    margin: 10px 0;
    /* Add spacing between images */
    border: none;
    /* Add this line to remove the border around images */
}

/* Standard image size for all images */
.standard-img {
    width: 200px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    object-fit: cover;
    /* Ensure the image covers the specified dimensions */
}

/* Larger image size for adventure images */
.large-img {
    width: 100%;
    /* Make the images fit the page */
    height: auto;
    object-fit: cover;
    /* Ensure the image covers the specified dimensions */
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}